:root {
  --clr-primario-400: hsl(158, 36%, 37%);
  --clr-primario-500: hsl(158, 36%, 20%);
  --clr-secundario-200: hsl(30, 38%, 92%);
  --clr-neutral-900: hsl(212, 21%, 14%);
  --clr-neutral-400: hsl(228, 12%, 48%);
  --clr-neutral-100: hsl(0, 0%, 100%);

  --ff-llamativo: 'Fraunces', serif;
  --ff-base: 'Montserrat', sans-serif;

  --fw-regular: 600; /*Ancho de las letras (trazado)*/
  --fw-bold: 700;
}
/*
  1. Usa un modelo de dimensionamiento de caja más intuitivo.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Eliminar margen predeterminado
  */
* {
  margin: 0;
}
/*
    3. Permitir alturas basadas en porcentajes en la aplicación
  */
html,
body {
  height: 100%;
}
/*
    ¡Tweaks tipográficos!
  4). Agregar altura de línea accesible
  5). Mejora la representación de texto
  */
body {
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
}
/*
    6. Mejora los valores predeterminados de los medios
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Eliminar estilos de tipografía de formularios integrados
  */
input,
button,
textarea,
select {
font: inherit;
}
/*
    8. Avoid text overflows
    evitar overflows de texto()
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
h1,h2,h3{
  line-height: 1.2;
}
/*Estilo general*/
body {
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  font-size: 0.875rem;
  color: var(--clr-neutral-400);
  background-color: var(--clr-secundario-200);
/*Solo para este proyecto*/
display: grid;
place-content:center;
margin:1rem;
}
.flex-group{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap; 
  /*Permite que fluyan los objetos en diferentes filas (que no se apachurren en solo una)
  En este caso no se usa dado que ya tenemos restringidos los objetos
  https://devopedia.org/images/article/296/2252.1607439407.svg*/
  align-items: center;
}

.visually-hidden:not(:focus):not(:active){ /*Esto agrega detalles no que el lector no puede ver (aún no entiendo bien el proposito exacto)*/
  clip:rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;/*Es como si la info no cabe, esta no se muestra apachurrada (o eso entiendo ahora mismo)*/
  position:absolute;
  white-space: nowrap;
  width: 1px;
}
.button{
  cursor: pointer;
  text-decoration: none; /*para que cuando se da click no cambie de color*/
  display: inline-flex;/*los objetos adentro de acomodan en linea*/
  gap: 0.5rem;;
  justify-content: center;/*Centra los objetos dentro del botton*/
  align-items: center;/*!Investigar que diferencia hay con arriba!!*/
  border:0;
  border-radius: 0.5rem;
  padding: 0.5em 1.5em;
  background-color: var(--clr-primario-400);
  color:var(--clr-neutral-100);
  font-weight: var(--fw-bold);
  font-size: 0.93rem;
}
.button[data-icon="shopping-cart"]::before{ /*Esto agrega el icono del carrito al botón*/
  content: "";
  background-image:url("images/icon-cart.svg");
  width: 15px;
  height: 16px;
  

}
.button:is(:hover,:focus){
background-color: var(--clr-primario-500);
}
/*Estilo del producto*/
.product{
  --padding-de-contenido:1.5rem;
  --espaciado-de-contenido:1rem;
  display: grid; /*Hace que que los objetos de organicen en una sola columna (se pueden poner varias columnas)*/
  background-color: var(--clr-neutral-100);
  border-radius: 0.5rem;
  overflow: hidden;
  max-width: 650px; /*Tamaño maximo que la caja va a tomar*/
}
@media(min-width: 650px){/*Esto hace que cuando sobre pase el limite de pixeles cambie*/
  .product{
    --padding-de-contenido:2rem;
    grid-template-columns: 1fr 1fr;/*Esto hace que hayan dos columnas (puedo agregar mas)*/
  }
}
.product__content {
  
  display: grid;
  gap:var(--espaciado-de-contenido);
  padding: var(--padding-de-contenido);
}
.product__category {
  font-size: 0.8125rem;
  letter-spacing: 5px; /*Hace que el espacio entre letras sea mayor, en este caso en la palabra perfume*/
  text-transform: uppercase;/*Hace que de ley todo dentro esté en mayuscula*/
}
.product__title{
  font-size: 2rem;
  font-family: var(--ff-llamativo);
  color:var(--clr-neutral-900);
}
.product__price{
  font-size: 2rem;
  font-family: var(--ff-llamativo);
  color:var(--clr-primario-400);

}